.summary-container {
  display: flex;
  overflow-x: auto;
  overflow-y: auto;
}

.align-horizontal {
  flex-direction: row;
}

.align-vertical {
  flex-direction: column;
}

.summary-column {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 5px;
}

.summary-header {
  display: flex;
  flex-direction: column;
  align-items: center;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  font-size: 1.5vh;
}

.summary-data {
  display: flex;
  flex-direction: column;
  align-items: center;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  font-size: 3vh;
}
