name: Build Status

on:
  push:
    branches:
      - main
    tags:
      - v*
    paths-ignore:
      - CONTRIBUTING.md
      - LICENSE
      - README.md
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]

    steps:
      - uses: actions/checkout@v6

      - name: Use Node.js
        uses: actions-ext/node/setup@main
        with:
          version: '22.x'
          js_folder: '.'

      - name: Install dependencies
        run: pnpm install

      - name: Install playwright
        run: npx playwright install

      - name: Build
        run: pnpm run build

      - name: Lint
        run: pnpm run lint

      - name: Test
        run: pnpm run test
        env:
          CI: 1

      - name: Upload coverage
        uses: codecov/codecov-action@v5

      - name: Build docs
        run: sed 's%\./%\./examples/%g' examples/index.html > index.html && rm -rf .gitignore

      - uses: peaceiris/actions-gh-pages@v4
        with:
          publish_branch: gh-pages
          publish_dir: .
          github_token: ${{ secrets.GITHUB_TOKEN }}
          force_orphan: true
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
